@media only screen and (min-width: 768px) and (max-width: 1500px) {
    .navigator{
    padding:0
    }
    img{
      width: 100%;
      object-fit: cover;
    }
    table{
  width: 100%;
  margin: 0;
  padding: 0 ;
  }
  form{
    padding: 0;
    margin: 0;
  }
  .vechungtoi{
    margin: 0;
    padding: 0;
  }
  .bokho{
    height: auto;
  }
  .content2{
    display:inline-block ;
    margin-top: 50px;
  }
  }